.adminLayout {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 240px;
  padding: 24px;
  background: #222;
  color: white;
}

.content {
  flex: 1;
  padding: 24px;
  background: #f4f4f4;
}